/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Montserrat', sans-serif;

// Size
$mainFontColor           : #3A3A3A;
$mainFontSize28          : 28px;
$mainFontSize            : 18px;
$mainFontSizeNav         : 12px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$mainBlue                : #0C4B88;
