.post_style_item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 24px;
}
.entry-title {
  font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #76003E;
margin: 32px 0;
}
.breadcrumbs {
  margin-bottom: 20px;
}
.post_title a {
  font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 33px;
text-align: justify;
color: #76003E;
}
.post_content p {
  font-family: Raleway, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
text-align: justify;
color: #000000;
}
.post_a img {
  max-width: 445px;
  height: auto;
}
.post-txt {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}
.post-hrPoint {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.post-hrPoint span {
  height: 6px;
  width: 6px;
  background: rgba(118, 0, 62, 0.8);
  margin-right: 11px;
}
.post-hrPoint hr {
  width: 100%;
  margin: 0;
  border-top: 1px solid #3A3A3A;
}
.wp-pagenavi {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.wp-pagenavi a {
  width: 50px;
  height: 50px;
  border: 1px solid #C1C1C1;
  font-family: Raleway. sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #6D6D6D;
  margin-right: 5px;
}

.wp-pagenavi .current {
  margin-right: 5px;
  border: 1px solid #79194D;
  width: 50px;
  height: 50px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #76003E;
}
@media (max-width: 767px){
  .post_style_item {
    flex-direction: column;
  }
  .post_a img {
    width: 100%;
    max-width: none;
  }
  .post-txt {
    margin: 0;
    margin-top: 20px;
  }
}
