.block-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/img-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
  & .block-header-grad {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 900px;
    background: linear-gradient(180deg, rgba(16, 37, 56, 0.9) 0%, rgba(51, 67, 81, 0.9) 50%, rgba(101, 32, 35, 0.9) 100%);
  }
  & .container {
    height: 100%;
  }
  & .block-topnav {
    padding-top: 20px;
    padding-bottom: 15px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    & .block-topnav-nav {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }
    & .block-topnav-nav ul:first-child {
      margin-right: 35px;
    }
    & .block-topnav-nav-number {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    & .block-topnav-nav-number a:first-child {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
    }
    & .block-topnav-nav-number a {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-decoration-line: underline;
      color: #DC0E13;
    }
    & .block-topnav-nav ul {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      font-family: $mainFont;
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      & li a {
        color: #fff;
      }
      & li:first-child {
        margin-right: 7px;
      }
    }
    & .block-topnav-img img {
      max-width: 256px;
      width: 100%;
      height: auto;
    }
  }
  & .block-nav {
    & .block-nav-ua {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      & .block-nav-ul-li {
        position: relative;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        margin-right: 15px;
        &:hover .nav-drop {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
        }
        &:hover::after {
          width: 80%;
          height: 2px;
          background-color: red;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 4px;
          height: 2px;
          width: 0;
          transition: all 0.2s linear;
        }
        & .block-nav-ul-li-a {
          font-size: $mainFontSizeNav;
          line-height: 15px;
          color: #fff;
          padding-bottom: 10px;
        }
        & .nav-drop {
          position: absolute;
          display: none;
          flex-direction: column;
          top: 25px;
          min-width: 210px;
          background-color: #fff;
          & li {
            margin: 0;
            margin-left: 16px;
            padding: 5px 0 5px 9px;
            &:hover {
               background: #DC1A1C;
            }
            &:hover a{
               color: #fff;
            }
           & a {
             font-family: $mainFont;
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 15px;
              width: 100%;
              color: $mainFontColor;
              display: block;
              &:hover {
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }
        & span {
          position: absolute;
          right: -12px;
          top: 0;
          bottom: 0;
          // margin: auto;
          margin-top: 5px;
          display: block;
          width: 7px;
          height: 7px;
          background-color: #BD1C29;
          // margin: 0 10px;
        }
      }
    }

  }
  & .block-mainH2 {
    & h2 {
      margin-top: 135px;
      font-style: normal;
      font-weight: bold;
      font-size: 72px;
      line-height: 80px;
      color: #FFFFFF;
      & span {
        display: block;
        width: 50%;
        border-bottom: 7px solid #0C4B88;
      }
    }
  }
  & .block-header-list {
    margin-top: 70px;
    color: #fff;
    font-size: $mainFontSize28;
    & ul {
      & li {
        position: relative;
        margin-left: 15px;
      }
      & li::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -15px;
        margin: auto;
        width: 7px;
        height: 7px;
        background-color: #BD1C29;
      }
    }
  }
  & .nav-MainSlider {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    & .Slider-item1, .Slider-item2, .Slider-item3, .Slider-item4 {
      & .Slider-item1-bg, .Slider-item2-bg {
        background: rgba(12, 75, 136, 0.9);
        width: inherit;
        height: inherit;
        display: none;
        position: absolute;
        top: 0;
        border: .5px solid #fafafa;
        z-index: 1;
      }
      & .Slider-item3-bg, .Slider-item4-bg {
        background: rgba(12, 75, 136, 0.9);
        width: inherit;
        height: inherit;
        display: none;
        position: absolute;
        bottom: 0;
        border: .5px solid #fafafa;
        z-index: 1;
      }
    }
    & .Slider-item1:hover .Slider-item1-bg, .Slider-item2:hover .Slider-item2-bg, .Slider-item3:hover .Slider-item3-bg, .Slider-item4:hover .Slider-item4-bg {
      display: block;
    }
    & .Slider-item1:hover {
      background-image: url(/assets/img/category_photo.jpg);
      height: 182px;
    }
    & .Slider-item2:hover {
      background-image: url(/assets/img/category_photo.jpg);
      height: 182px;
    }
    & .Slider-item3:hover {
      background-image: url(/assets/img/category_photo.jpg);
      height: 182px;
    }
    & .Slider-item4:hover {
      background-image: url(/assets/img/category_photo.jpg);
      height: 182px;
    }
    .nav-MainSlider-item {
      width: 285px;
      height: 150px;
      border: 0.5px solid #FAFAFA;
      transition: all 0.2s linear;
      & h3 {
        position: relative;
        z-index: 5;
        font-family: $mainFont;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        margin-top: 18px;
        margin-left: 18px;
      }
      & p {
        position: relative;
        z-index: 5;
        font-family: $mainFont;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        margin-left: 40px;
      }
      & span {
        position: relative;
        z-index: 5;
        display: block;
        float: right;
        margin-right: 20px;
        width: 142px;
        height: 2px;
        background-color: #BD1C29;
      }
    }
  }
}

.chang-bg {
  background-image: url(/assets/img/category_photo.jpg);
}
